# PyCaret is an open-source, low-code machine learning library in Python that automates machine learning workflows.

In [1]:
# Importing some of the required packages
from pycaret.time_series import *
import pandas as pd
import numpy as np

In [5]:
# Loading the cleaned dataset. Cleaning was done in a previous notebook
dx = pd.read_csv(r'/home/nkem/Documents/PhD_Research/allN11Oct2022.csv')
dx.head()

,incidentdate,year,month,day,company,contaminant,spillareahabitat,cause,estimatedqty
0,2005-01-05,2005,1,5,MPN,cr,of,ome,0.0568
1,2005-01-08,2005,1,8,MPN,cr,of,eqf,0.0002
2,2005-01-31,2005,1,31,NAOC,cr,la,cor,100.0000
3,2005-02-08,2005,2,8,MPN,cr,of,eqf,0.0300
4,2005-03-08,2005,3,8,MPN,cr,of,eqf,3.0000

In [7]:
# Changing the incidentdate column to pandas datetime
dx['incidentdate'] = pd.to_datetime(dx['incidentdate'])
td = dx.copy()

# Downsampling from daily timeframe to the monthly timeframe
dk = td.groupby([pd.Grouper(key='incidentdate', freq='M')])['estimatedqty'].agg(['sum','size'])
dk = dk.reset_index()

# Renaming the columns
dk.rename(columns={"sum":"estimatedqty", "size":"spillno"}, inplace=True)

# Filtering out the estimatedqty column and dropping the last incomplete entry
df = dk[["incidentdate","spillno"]]
df = df.set_index("incidentdate")
df = df.drop(index="2022-10-31")

# Feauture enginneering - creating month and year column from the incidentdate column
df= df.reset_index()
df["month"] = df["incidentdate"].dt.month
df["year"] = df["incidentdate"].dt.year
dt = df[["incidentdate","spillno","month", "year"]]
dt = dt.set_index("incidentdate")
dt.tail()

              spillno  month  year
incidentdate
2022-05-31         22      5  2022
2022-06-30         48      6  2022
2022-07-31         20      7  2022
2022-08-31         60      8  2022
2022-09-30         38      9  2022